body {
  background: linear-gradient(to right, rgb(184, 232, 253), rgb(233, 235, 159));
}

.app-container {
  background-color: white;
  border-radius: 10px;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  box-shadow: 1px 1px 15px rgb(22, 63, 80);
}

h1 {
  font-family: "Overlock SC", sans-serif;
  font-weight: 300;
}
.user-input {
  background: linear-gradient(to right, rgb(184, 232, 253), rgb(233, 235, 159));
  opacity: 60%;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  height: 30px;
  margin-right: 5px;
  width: 60%;
  max-width: 400px;
  font-size: 18px;
  color: #000;
}

.submit {
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: grey;
  background-color: rgb(173, 229, 251);
  box-shadow: 2px 2px 5px;
  font-size: 18px;
  transition: all 150ms ease-in-out;
}
.submit:hover {
  box-shadow: none;
  background-color: rgb(121, 211, 225);
}

.current-weather-container {
  margin-top: 1.2rem;
  padding: 1rem;
  border-radius: 1rem;
  background: rgb(198, 226, 232);
}
h2 {
  display: block;
  font-size: 40px;
  margin-top: 15px;
  padding-right: 30px;
}
.weather-top-row {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: flex-start;
}

.left-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.2rem;
}

#todays-day {
  font-weight: 700;
  font-size: 28px;
}

.weather-description {
  font-style: italic;
  color: #444;
  display: inline;
  margin-top: 10px;
}

#humidity {
  color: orangered;
  font-weight: 600;
}
#wind-speed {
  color: orangered;
  font-weight: 600;
}
#percent {
  font-size: smaller;
}
.degree-fahrenheit {
  font-size: smaller;
}
.top-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#weather-icon {
  display: inline-flex;
  flex-direction: column;
  width: 100px;
  height: auto;
  margin-top: 10px;
}

.temperature-group {
  font-size: 2.1rem;
  font-weight: bold;
  margin: 0 auto;
  justify-items: center;
}

.weather-bottom-row {
  display: flex;
  gap: 0.5rem;
  font-size: 1rem;
  align-items: center;
}

footer {
  text-align: center;
}
